<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>BORGER HUT</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<section class="hero is-small is-dark is-bold">
		<div class="hero-body">
			<div class="level-item container">
				<h2 class="subtitle">
					BORGER HUT: O.K. Borgers for Your Mouth
				</h2>
			</div>
		</div>
	</section>
	
		<div class="centered">
			{{{ body }}}
			</div>
		
</body>
</html>