{{> navbar user}}


<div class="container">
  <div class="row static-div">
    <div>
      <h3 class="page-title ">When are you available?</h3>
      <div class="input-group mb-3 times">
        <input id="start_time" type="text" class="form-control" aria-label="Start Time"
          aria-describedby="inputGroup-start-time" placeholder="Start Time">
      </div>

      <div class="input-group mb-3 times">
        <input id="end_time" type="text" class="form-control" aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default" placeholder="End Time">
        <button class="btn-success submit_time">+</button>
      </div>
    </div>
  </div>



  <div class="row static-div">
    
    <div>
      <h3 class="page-title">Your Availabilities:</h3>
      <div></div>
      <table class="table table-striped">
        {{#each Availability}}
        <tr>
          <th class= "lead">
            {{start_time}} - {{end_time}}
          </th>

          <th>
            <button type="button" class="delete-time btn btn-danger" data-value={{id}}>
              <i class="fas fa-trash-alt"></i>
            </button>
          </th>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>

</div>


<script type="text/javascript">
  $(document).ready(function () {

    flatpickr($("#start_time"), {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });

    flatpickr($("#end_time"), {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });

    var submitButton = $("<button>")
      .addClass("submit_time")
      .text("+");



    // When the form is submitted, we validate there's a title and body entered
    $(document).on("click", ".submit_time", function () {
      // input classes
      var start_time = $("#start_time");
      var end_time = $("#end_time");

      event.preventDefault();

      //data object
      var scheduleData = {
        //date: daySelected.text(),
        start_time: start_time.val().trim(),
        end_time: end_time.val().trim(),

      };
      // if no input return
      if (!scheduleData.start_time || !scheduleData.end_time) {
        return;
      }

      //send ajax to server
      $.post("/api/availability", scheduleData,
        function (data) {

          // If a table is available... tell user they are booked.
          if (data) {
            console.log("Time is added");
          }

          // If a table is available... tell user they on the waiting list.
          else {
            alert("Select Another Time");
          }

          //clear input
          start_time.val("");
          end_time.val("");
          location.reload();
        });

    });

    $(".delete-time").on("click", function () {
      var deleteTimeID = $(this).attr('data-value');
      //console.log("Clicked" + JSON.stringify(deleteTimeID));

      $.ajax({
        method: "DELETE",
        url: "/api/availability/" + deleteTimeID
      }).then(function (result) {
        location.reload();
      })

    });
  });
</script>