{{> navbar user}}


<div class="container">
  <div class="row">
    <div>
      <h3> When are you available? </h3>
      <input id="start_time" placeholder="Start Time"></input>
      <input id="end_time" placeholder="End Time"></input>
      <button class="button is-primary submit_time">+</button>

      <h3>Your Availabilities:</h3>

      {{#each Timeblocks}}
      <li>{{start_time}} - {{end_time}}</li><button class="delete-time" data-value={{id}}>Delete
        {{id}}</button>{{/each}}

    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    flatpickr($("#start_time"), {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });

    flatpickr($("#end_time"), {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
    });

    var submitButton = $("<button>")
      .addClass("submit_time")
      .text("+");



    // When the form is submitted, we validate there's a title and body entered
    $(document).on("click", ".submit_time", function () {
      // input classes
      var start_time = $("#start_time");
      var end_time = $("#end_time");

      event.preventDefault();
      console.log("i was clicked");
      console.log(start_time.val(), end_time.val())

      //data object
      var scheduleData = {
        //date: daySelected.text(),
        start_time: start_time.val().trim(),
        end_time: end_time.val().trim(),

      };
      console.log(JSON.stringify(scheduleData))
      // if no input return
      if (!scheduleData.start_time || !scheduleData.end_time) {
        return;
      }

      //send ajax to server
      $.post("/api/availability", scheduleData,
        function (data) {

          // If a table is available... tell user they are booked.
          if (data) {
            alert("Time is added");
          }

          // If a table is available... tell user they on the waiting list.
          else {
            alert("Select Anouther Time");
          }

          //clear input
          start_time.val("");
          end_time.val("");
          location.reload();
        });

    });




    $(".delete-time").on("click", function () {
      var deleteTimeID = $(this).attr('data-value');
      console.log("Clicked" + JSON.stringify(deleteTimeID));

      $.ajax({
        method: "DELETE",
        url: "/api/availability/" + deleteTimeID
      }).then(function (result) {
        location.reload();
      })

    });
  });
</script>