{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="">
                {{#if user.email}}
                <a href="/deploy">
                {{else}}
                <a href="/login">
                {{/if}}
                <img src="/images/Logo-In-Welcome.png" class="img-fluid"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <div class="frontispiece text-center font-weight-bolder">
                    <h3>Squaddle is an app designed to help you play games with friends according to <strong>your</strong> schedule.  Once signed in, set your availability then view the available deployment times to link up with your friends.
                    <br><br>
                    Link up and Squaddle in!</h3>
                </div>
        </div>
    </div>
</div>