form.signup,
form.login {
  margin-top: 50px;
}

.deployment-post-card {
  width: 100%;
}

.deployment-post {
  width: 100%;
}

.input-group {
  margin-left: 10px;
}

footer {
  text-align: center;
  background-color: black;
}

body {
  background-image: url("/images/pexels--close-up-photography-of-yellow-green-red-and-brown-plastic-163064--tinyimg-compressed.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
}


.row {
  background-color: rgba(160, 145, 112, 0.8);
}

.navbar {
  margin-bottom: 30px;
}
.times {
  width: 80%;
}
