form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

footer {
  text-align: center;
  background-color: black;
}

body {
  background-image: url("https://i.pinimg.com/originals/26/7f/a5/267fa532afb9798c622116fd882f2ee6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.row {
background-color: white;
}
