form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

footer {
  text-align: center;
  background-color: black;
}

body {
  background-image: url("/images/pexels--close-up-photography-of-yellow-green-red-and-brown-plastic-163064--tinyimg-compressed.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.row {
background-color: rgba(255, 255, 255, 0.8);;
}

.navbar {
  margin-bottom: 30px;
}


