<tr>
	<th>
		{{burger_name}}
	</th>
	<th>
		<button {{#if devoured}}class="digest button" {{else}}class="change-devoured button level-right" {{/if}}
			data-id="{{this.id}}">{{#if devoured}}DIGEST!{{else}}DEVOUR!{{/if}}</button>
	</th>
</tr>